
.single-container-info{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}
.single-product-info-name-adapt > h1{
    display: none;
}
.product-information-container{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    flex-direction: row;
    align-items: start;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    padding: 30px 0px;
    gap: 20px;
}
.single-product-info-container{
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
    gap: 8px;
}

.product-information-container > .product-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    padding: 0px 20px;
}

.select-img-product-container{
    border: 1px solid #C7C7C7;
    width: 350px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 20px;
    margin-bottom: 20px;
}
.select-img-product {
    width: 150px; /* Большая картинка */
    height: 300px;
}

.other-img-container {
    display: flex;
    gap: 10px;
    padding: 0 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 350px;
}

.circle-container {
    width: 35px; /* ширина круга */
    height: 35px; /* высота круга */
    overflow: hidden;
    border-radius: 50%; /* делает контейнер круглым */
    cursor: pointer; /* курсор при наведении */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.circle-container img {
    width: 120%; /* заполняет круг */
    height: auto; /* сохраняет пропорции */
    object-fit: cover; /* обрезает изображение, сохраняя его пропорции */
}

.circle-container:hover {
    border-color: #e37243;
}

.single-product-info-container > h1{
    font: 700 calc(14px + 6 * (100vw / 1440)) Inter, sans-serif;
    margin-bottom: 20px;
    color: #383534;
}
.info-item{
    height: auto;
    border-bottom: 1px solid #C7C7C7;
}
.info-item > p > span {
    font: 700 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
    color: #383534;
    margin-right: 10px;
}
.info-item > p {
    font: 400 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
    color: #747474;
}

.size-info-container > h3{
    font: 700 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
    color: #383534;
    margin-bottom: 10px;
}

.size-info > ul > li{
    font: 400 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
    color: #747474;
    margin-bottom: 5px;
    list-style-type: none;
}
.text-description-to-button{
    margin-top: 20px;
}
.text-description-to-button > p{
    font: 400 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
    color: #747474;
}
.button-container {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

/* контаинер услуг стили */

.services-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    flex-direction: column;
    margin-bottom: 60px;
}
.services-info-container{
    width: 80%;
    display: flex;
    gap: 5%;
    padding-top: 20px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.services-text-container > p > span{
    font-weight: bold;
    color: #383534;
}
.single-services-info{
    display: flex;
    gap: 2vw;
    margin: 15px 40px;
    flex-direction: row;
}
.services-img-cotainer{
    display: flex;
    width: 30px;
    height: 30px;
    padding: 15px;
    border-radius: 50%;
    background-color: #F8F5F0;
}
.services-img{ /* заполняет круг */
    height: auto; /* сохраняет пропорции */
    object-fit: cover;
}

.services-text-container > h3{
    font: 700 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
    color: #383534;
    margin-bottom: 10px;
}
.services-text-container > p{
    font: 400 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
    color: #747474;
}
.product-img-container {
    gap: 5px; /* Расстояние между картинками */
}
.contact-viber-tg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.contact-viber-tg > a{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #383534;
    margin: 0;
    font: 400 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
}
.contact-viber-tg > a > p > span{
   font-weight: bold;
}
@media (max-width: 960px) {
    .other-img-container{
        width: 250px;
    }
    .select-img-product-container{
        height: 250px;
        width: 250px;
    }
    .select-img-product{
        width: 120px;
        height: 240px;
    }
}

@media (max-width: 680px) {
    .single-product-info-name-adapt > h1{
        display: flex;
        font: 700 calc(14px + 6 * (100vw / 1440)) Inter, sans-serif;
        margin-bottom: 10px;
    }

    .product-information-container > .product-img-container{
        align-items: start;
    }
    .single-product-info-container > h1{
       display: none;
    }
    .product-information-container {
      display: flex;
      justify-content: center;
      gap: 0px;
    }
    .single-product-info-container{
        margin: 20px 40px;
    }
    .text-description-to-button {
        margin-top: 10px;
    }
    .single-product-info-container > .button-container {
        display: flex;
    }
    .services-text-container > h3{
        font-size: calc(12px + (2 + 2 * 0.7)*((100vw - 320px)) / 1440);       
    }
    .services-text-container > p{
        font-size: calc(12px + (2 + 2 * 0.7)*((100vw - 320px)) / 1440);
    }
    .single-product-info-container > h1{
        font-size: calc(12px + (2 + 2 * 0.7)*((100vw - 320px)) / 1440);
    }
    .info-item > p > span {
        font-size: calc(12px + (2 + 2 * 0.7)*((100vw - 320px)) / 1440);
    }
    .info-item > p {
        font-size: calc(12px + (2 + 2 * 0.7)*((100vw - 320px)) / 1440);
    }
    .size-info-container > h3{
        font-size: calc(12px + (2 + 2 * 0.7)*((100vw - 320px)) / 1440);
    }
    .size-info > ul > li{
        font-size: calc(12px + (2 + 2 * 0.7)*((100vw - 320px)) / 1440);
    }
    .single-services-info {
        margin: 10px 20px;
    }
    .services-img-cotainer{
        padding: 10px;
        height: 30px;
        width: 30px;
    }

    .other-img-container{
        width: 50vw;
    }
    .select-img-product-container{
        height: 40%;
        width: 50vw;
    }
    .select-img-product{
        width: 80px;
        
    }
    .circle-container{
        width: 25px;
        height: 25px;
    }

    .single-container-info {
        margin-top: 30px;
    }
    .select-img-product{
        width: 80px;
        height: 170px;
    }
    .single-services-info {
        gap: 4vw;
    }
    .button-container {
       justify-content: center;
    }
}
