.email-container {
    
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
  }
  
  .email-container h2 {
    text-align:start;
    color: #383534;
    font:700 calc(20px + 6 * (100vw / 1440)) Inter, sans-serif;
    margin-bottom: 10px;
  }
  .email-container h3 {
    text-align:start;
    color: #383534;
    font:400 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
    margin-bottom: 30px;
    max-width: 40%;
  }
  
  .email-form {
    display: flex;
    flex-direction: column;
 
  }

  .input-row{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
  }
  .text-only{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
  }
  .input-group{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 5px 15px 0;
    
  }
  .input-group label{
margin: 0 0 5px 0px;
font: 400 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
color: #747474;
  }
.text-only label{
  margin: 0 0 5px 0px;
  font: 400 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
color: #747474;
}
  .email-form input,
  .email-form textarea {
    margin-bottom: 15px;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    
  }
  .input-group-textarea-group{
    display: flex;
    align-items: flex-end;
    margin-bottom: 100px;
  }
  .email-form textarea {
    height: 110px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font: 400 calc(12px + 2 * (100vw / 1440));
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: column;
   
  }

  .submit-group{
    display: flex;
    justify-content: flex-end;
    


  }
  .email-form input:focus,
  .email-form textarea:focus {
    border-color: #e37243;
    outline: none;
  }
  


  .email-form button:hover {
    background-color: #c76338;
  } 
  