.email-container {
    
    margin:20px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
  }
  
  .email-container h2 {
    text-align:start;
    color: #383534;
    font:700 calc(20px + 6 * (100vw / 1440)) Inter, sans-serif;
    margin-bottom: 10px;
  }
  .email-container h3 {
    text-align:start;
    color: #383534;
    font:400 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
    margin-bottom: 30px;
    max-width: 40%;
  }
  
  .email-form {
    display: flex;
    flex-direction: column;
 
  }

  .input-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  .text-only{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
  }
  .input-group{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 5px 15px 0;
    
  }
  .input-group label{
margin: 0 0 5px 0px;
font: 400 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
color: #747474;
  }
.text-only label{
  margin: 0 0 5px 0px;
  font: 400 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
color: #747474;
}
  .email-form input,
  .email-form textarea {
    padding: 10px 10px;
    border: 1px solid #C9C9C9;
    border-radius: 5px;
    resize: none;
    
  }
  .input-group-textarea-group{
    display: flex;
    align-items: flex-end;
   
  }
  .email-form textarea {
    height: 80px; 
    padding: 10px;
    border: 1px solid #C9C9C9;
    border-radius: 5px;
    font: 400 calc(12px + 2 * (100vw / 1440)) Inter, sans-serif;
    width: 85%;
    display: flex;
    flex-direction: column;
margin-bottom: 0;
   
  }

  .submit-group{
    display: flex;
    justify-content: flex-end;
    


  }
  .email-form input:focus,
  .email-form textarea:focus {
    border-color: #e37243;
    outline: none;
  }
  


  .email-form button:hover {
    background-color: #c76338;
  } 

  .send-btn{
    margin-top: 15px;
  }
  

  @media(max-width:1440px) and (min-width:960px){
    .email-container h3{
      max-width: 100%;
    }
  }
  @media(max-width:960px) and (min-width:480px){
    .email-container h3{
      max-width: 100%;
    }
    .input-group-textarea-group{
      flex-wrap: wrap;
    }

    .email-form textarea{
      width: auto;
    }
  }
  @media(max-width:480px){
      .email-container h3{
        max-width: 100%;
      }

      .input-group-textarea-group  {
       align-items: center; 
        flex-direction: column;
    }

    .text-only{
      width: 100%;
    }

    .email-form textarea{
      width: auto;

    }

  }

