.footer-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 400px;
    background: #383534;
}
.info-footer-container{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 69px 10%;
}
.info-company-container{
    background-color: rgb(167, 161, 154);
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.section-column-info{
    display: flex;  
    flex-direction: row; 
}
.item-logo-name{
    display: flex;  
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row; 
}
.item-name{
    display: flex;  
    align-items: flex-start;
    margin: 0 20px;
    width: 100%;
}
.item-logo{
    background-color: #bdbdbd;
    height: 50px;
    width: 60px;
}

.item-line {
    display: flex;
    box-sizing: border-box;
    flex: 0 0 auto;
    
    border-top: 2px solid #e37243;
}



.exclusive-door-text {
    box-sizing: border-box;
    max-width: 409px;
    padding: 0;
    margin: 0;
    font: 400 14px Inter, sans-serif;
    color: #bdbdbd;
    text-align: left;
  }
  .exclusive-doors-gallery {
    display: flex;
    flex-direction: row;
    gap: 23px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 22px;
  }
  .location-icon {
    box-sizing: border-box;
    display: block;
    width: 20px;
    max-width: initial;
    height: 20px;
    border: none;
    object-fit: cover;
  }
  .contact-info-container1 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 332px;
    padding-top: 9px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .contact-info-container {
    box-sizing: border-box;
    width: 100%;
    padding-right: 3px;
    padding-left: 3px;
    margin-top: 40px;
  }
  .location-container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .location-title {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    margin-left: 9px;
    font: 700 20px Inter, sans-serif;
    color: #f2f2f2;
  }
  .contact-info-section1 {
    box-sizing: border-box;
    width: 100%;
    margin-top: 16px;
  }
  .contact-info-style {
    padding: 0;
    margin: 0;
    font: 400 14px Inter, sans-serif;
    color: #bdbdbd;
  }
  .contact-info-section {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    color: #bdbdbd;
  }
  .email-label-text-style {
    font: 400 14px Inter, sans-serif;
    color: #bdbdbd;
  }
  .email-link-text-style {
    font: 400 14px Inter, sans-serif;
    color: #bdbdbd;
    text-decoration-line: underline;
  }
