*{
  margin: 0; /* Сбрасываем все внешние отступы */
  padding: 0; /* Сбрасываем все внутренние отступы */
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


 
  padding: 0;
  height: 100%; /* Убедитесь, что высота занимает всё окно */
  background-image: url('../assets/img/fon.svg'); /* Укажите путь к изображению */
  z-index: -1;
  background-repeat: repeat; /* Не повторять */
  background-position: center center; /* Центрировать изображение */
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
