
  .location-details-container2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding-bottom: 50px;
    width: 100vw; 
  
  }
  .location-title-text-style {
    flex: 0 0 auto;
    align-self: center;
    padding: 0;
    margin: 0;
    font: 700 26px Inter, sans-serif;
    color: #383534;
  }
  .location-details-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 4vw;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height:70vh;
    align-self: center;
    margin-top: 15px;
    

  }

  .map{
   width: 70%;
    height: 90%;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  