.container {
    position: relative;
    display: flex; /* Flexbox для горизонтального расположения */
    width: 100%; /* Ширина на весь экран */
    height: 100vh; /* Высота равна высоте окна браузера */
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 60px;
  }
  
  /* Shadow (левая часть) */
  .shadow-container {
    width: 450px; /* Занимает 30% ширины контейнера */
    height: 30%;  
    /* было 100 */
    padding: 20px 20px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Выравнивание текста слева */
    color: white;
  }
  
  /* Slider (правая часть) */
  .slider-container {
    width: 70%; /* Занимает 70% ширины контейнера */
    height: 100%; /* Полная высота родительского контейнера */
    position: relative;
    overflow: hidden;
  }
  
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Адаптация изображения под контейнер */
  }
  
  /* Кнопка */
  .detail-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;

  }
  .door-sales-section {
    display: flex;
    flex-direction: column;
    height: 340px;
    justify-content: space-between;
  }
  /* .door-description-container {
    display: flex;
    flex: 0 0 auto;
    height: 90px;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-end;
  } */
  .door-divider {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 2px;
    border-radius: 1px;
    height: inherit;
    margin-right: 17px;
    background: #e37243;
  }
  .door-text-styler {
    font: 26px Inter, sans-serif;
    text-align: left;
  }
  .product-description-text-style {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    width: 270px;
    margin-bottom: 30px;
    /* font: 200 14px Inter, sans-serif; */
    font: 200 34px Areal;
    color: #b6b6b6;
    text-align: left;
  }
  .shadow-overlay {
    position: absolute;
    z-index: 2; /* Поверх Slider */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3; /* Поверх Slider */
    display: flex;
    justify-content:left; /* Центрирует содержимое */
    align-items: center;
  }
  
  .door-both {
    width: 100%; /* Ширина компонента Shadow */
    max-width: 700px;
    text-align: left;
    display: flex;
    justify-content: center;
   height: 100%;
   background-size: cover; /* Растягивает изображение, сохраняя пропорции */
   background-repeat: no-repeat; 
    background-image: url('../assets/img/shadow.png');
    
  }
  